{% extends 'base.html' %}

{% block content %}
<style>
    .about-section {
        display: flex;
        align-items: flex-start;
        gap: 20px;
        padding: 20px;
    }
    .about-section img {
        width: 500px;
        height: auto;
        border-radius: 8px;
    }
    .about-text {
        flex: 1;
        font-family: Arial, sans-serif;
        font-size: 24px;
    }
    h1 {
        text-align: center;
    }
    .fa {
        padding: 20px;
        font-size: 24px;
        width: auto;
        text-align: center;
        text-decoration: none;
    }
</style>

<h1>About</h1>
<div class="about-section">
    <img src="{{ url_for('static', filename='/photos/scott.jpg') }}">
    
    <div class="about-text">
        <p>At Scott's Variety Shop, we offer a huge selection of stuff! From custom dioramas, to figures, posters, pillows, bobbleheads, autographs and more. Specializing in cool custom pieces from the Horror Genre and much more!</p>
        <p>Want to contact us?</p>
        <a class="fa fa-phone"> (301) 514-3799</a>
    </div>
</div>
{% endblock %}