{% extends 'base.html' %}

{% block content %} 
<style>
    h1 {
        text-align: center;
    }
</style>
<h1>Welcome to Scott's Variety Shop!</h1>
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v22.0"></script>
<div class="fb-page" data-href="https://www.facebook.com/profile.php?id=100090697449568" data-tabs="timeline" data-width="" data-height="" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/profile.php?id=100090697449568" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/profile.php?id=100090697449568">Scott&#039;s Variety Shop LLC</a></blockquote></div>
{% endblock %} 