{% extends 'base.html' %}

{% block content %}
<style>
    .layout {
        display: flex;
        align-items: flex-start;
        gap: 20px;
        padding: 20px;
    }
    .layout img {
        width: 400px;
        height: auto;
        border-radius: 8px;
        align-items: left;
    }
    .prod-text {
        text-align: left;
    }
    #price-tag {
        color: green;
    }
</style>

<a href="{{ url_for('products') }}" class="back-button">Back to Products</a>

<div class="layout">
    <img src="{{ url_for('product_image', product_id=product['id']) }}" alt="{{ product['_name'] }}">
    <div class="prod-text">
        <h1>{{ product['_name'] }}</h1>
        <h1 id="price-tag">${{ product['_price'] }}</h1>
        <p>{{ product['_description'] }}</p>
    </div>
</div>

{% endblock %}